.header {
  background-color: $dark-color;
  background-image: url(/images/herader\ svg.svg);
  background-repeat: no-repeat;
  background-position: left 17rem;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  z-index: 100;
  position: relative;
}
.container {
}

.header-items {
  background-image: url(/images/Oval.svg);
  background-repeat: no-repeat;
  background-position: right 45rem top 50rem;
  
}
.hero-logo {
  h1 {
    color: $white;
  }
}
.hero-link {
}

.header-item {
  display: flex;
  justify-content: space-between;
}
.container {
}
.header-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
  h1 {
    font-weight: 700;
    font-size: 8.8rem;
    color: $white;
    margin-top: 15.8rem;
    z-index: 100;
  }

  p {
    font-weight: 500;
    font-size: 1.8rem;
    color: $darker-white-color;
    max-width: 44.5rem;
    margin-bottom: 50px;
    line-height: 2.8rem;
  }
}
.header-title-span {
  content: "";
  border-bottom: 7px solid $light-green-color;
  width: 49rem;
  margin-left: 170px;
  margin-bottom: 50px;
  transform: translateY(-10px);
}

.header-btn {
  display: flex;
  align-items: center;
  width: 12rem;
  height: 4rem;
  background: none;
  font-size: 16px;
  font-weight: 700;
  color: $white;
  border-bottom: 2px solid $light-green-color;
  list-style: none;
  letter-spacing: 2.2px;
}
.header-img {
  width: 44.5rem;
  height: 70rem;
  background-image: url(/images/img/header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 80px;
}

@media (max-width: 1000px) {
  .header-img {
    right: 0px;
  }
  .header-title {
    h1 {
      font-size: 7rem;
    }
  }
  .header-title-span {
    width: 35rem;
  }
  .header-items {
    background-position: right 38rem top 50rem;
  }
}

.adamkeys-img {
}
